.projects{
    background-image: url("../imgs/spectrum-gradient\ \(2\).png");
    background-size: cover;
}
.projectsh1{
    font-family: 'Kantumruy', sans-serif;  
    color:#FDFDFD;
    font-weight: 700;
    letter-spacing:-1px;
    text-shadow: -1px 4px 6px rgba(0,0,0,0.23);
}
hr{
    border: 2px solid #FDFDFD;
    background-color: #FDFDFD;
    width: 20%;
    opacity: 1;
}

.custom-shape-divider-top-1697902009 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1697902009 svg {
    position: relative;
    display: block;
    width: 100%;
    height: 100px;
}

.custom-shape-divider-top-1697902009 .shape-fill {
    fill: #FDFDFD;
}
@media screen and (max-width: 768px){
    .custom-shape-divider-top-1697902009 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-top-1697902009 svg {
        position: relative;
        display: block;
        width: 100%;
        height: 50px;
    }
    
    .custom-shape-divider-top-1697902009 .shape-fill {
        fill: #FDFDFD;
    }
    .projectsh1{
        font-family: 'Kantumruy', sans-serif;  
        color:#FDFDFD;
        font-weight: 700;
        letter-spacing:-1px;
        text-shadow: -1px 4px 6px rgba(0,0,0,0.23);
        font-size: 1.6rem;
    }
    hr{
        width: 50%;
    }
}
