.skills{
    background-color:#E4F1FF ;
}
.skillsh1,.skillsh1_2{
    font-family: 'Kantumruy', sans-serif;  
    color:#357C3C;
    font-weight: 700;
    letter-spacing:-1px;
    text-shadow: -1px 4px 6px rgba(0,0,0,0.17);
}
.skillsimgcontainer{
    transition: all 0.4s ease;
    max-width: 33%;
}
.skillsimg{
    max-width: 50%;
    height: 146px;
}
.skillsdesc{
    font-weight: 700;
    font-size: 1.2rem;
    text-shadow: -1px 4px 6px rgba(0,0,0,0.17);
}
.skillsimgcontainer:hover{
    transition: all 0.4s ease;
    transform: translateY(-10px);
}

@media screen and (max-width: 768px){
    .skillsimgcontainer{
        max-width: 100%;
        margin-bottom: 3rem;
    }
    .skillsimg{
        max-width: 100%;
        height: 146px;
    }
}
@media (min-width:769px) and (max-width:992px) {
    .skillsimg{
        max-width: 100%;
       
    }
}
@media screen and (max-width: 281px){
    .skillsh1_2,.skillsh1{
        font-size:19px;
    }

}
